@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<BaoMoiOnline.Models.Post>
@*@model IEnumerable<BaoMoiOnline.Models.Post>*@

@{
    ViewData["Title"] = "Quản Lý Bài Đăng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Posts" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quản Lý Bài Đăng</li>
    </ol>
    <h6 class="slim-pagetitle">QUẢN LÝ BÀI ĐĂNG</h6>
</div><!-- slim-pageheader -->
<hr />

<a asp-area="Admin" asp-controller="Posts" asp-action="Create" class="btn btn-outline-pink mg-b-10">Thêm Mới</a>
<table class="table mg-b-0 table-colored table-primary">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tiêu Đề Bài Viết</th>
            <th>Danh Mục</th>
            <th>TRẠNG THÁI</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                string url = $"/{item.Alias}.html";
                <tr>
                    <th>@item.PostId</th>
                    <td>
                        <a href="/@item.Cat.Alias">@item.Title</a>
                    </td>
                    <th>@item.Cat.CatName</th>
                    <td>
                        @if (item.Cat.Published == true)
                        {
                            <span class="badge badge-success">Public</span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">Non-Public</span>
                        }
                    </td>

                    <td>                       

                        <a asp-area="Admin" asp-controller="Posts" asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-success">Chỉnh Sửa</a>
                        @*<a href="@url" target="_blank" class="btn btn-primary">Chi Tiết</a>*@
                        <a asp-area="Admin" asp-controller="Posts" asp-action="Details" asp-route-id="@item.PostId" class="btn btn-primary">Chi Tiết</a>
                        <a asp-area="Admin" asp-controller="Posts" asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger">Xoá</a>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<hr />

<div aria-label="Page navigation example">
    <ul class="pagination">
        <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="Admin" asp-controller="Posts" asp-action="Index" />
    </ul>
</div>
